:root{
    --color:rgb(0 199 252);
} 
/* start clobal rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
font-family: 'Open Sans', sans-serif;

}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto;
    margin-right: auto;
}
ul{
    list-style: none;
}
/* small */
@media(min-width:768px){
    .container{
    width: 750px;
    }
}
/* medium */
@media(min-width:992px){
    .container{
    width:970px;
    }
}
/* large */
@media(min-width:1200px){
    .container{

    width: 1170px;
    }
}
/* end clobal rules */
/* start component */
.section{
    padding-top:60px;
    padding-bottom: 60px;
}

.main-heading{
    text-align: center;

}
.main-heading h1{
    position: relative;
    margin: 0;
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 80px;
    text-transform: uppercase;
}

.main-heading h1::before{
    content: "";

    width:120px;
    height: 1px;
    background-color: black;
    position: absolute;
    left: 50%;
    top: 170%;
    transform: translate(-50%,-50%);

}
.main-heading h1::after{
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 170%;
    transform: translate(-50%,-50%);

}
.main-heading p{
max-width: 50%;
margin: auto;
margin-bottom: 100px;
color: #777;
}
/* end component */
/* start header */
.header{
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;

}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    min-height: 97px;
    /* border-bottom: 1px solid #a2a2a2; */
}
.header .container::after{
    content: "";
    height: 1px;
    width: calc(100% - 30px);
    position: absolute;
    bottom:-1px ;
    background-color: #a2a2a2;
    left: 15px;
}
.header .container .logo img{
height: 40px;
}

.header .container .nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.header .container ul{
    display: flex;
    margin-right: 30px;


}
.header .container ul li a{
    display: block;
    text-decoration: none;
    padding:40px 10px ; 
     color: white;
    font-size: 14px;
    transition: 0.3;
}
.header .container ul li a.active,.header .container ul li a:hover{
    color: var(--color);
    border-bottom: 1px solid var(--color);


}
.ser{
    height: 40px;
    width: 30px;
    border-left: 1px solid white;
    position: relative;
}
.header .container i{
    color:white ;
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translatey(-50%);
    right: 0;
}
.nav .ic-re{width: 30px;
    height: 40px;
display: flex;
flex-wrap: wrap;
display: none;
margin-right: 30px;

}
.nav .ic-re span{
    width: 100%;
    height: 2px;
    background-color: #a2a2a2;
    margin-bottom: 5px;
}
.ic-re span:first-child{margin-top: 10px;}
@media(max-width:767px){
    .nav .ic-re{
        display: block;
        /* justify-content: flex-end; */
    }
    .nav .ic-re span{display: block;}
    .header .container ul{
        
        display: none;
}
.nav .ic-re:hover + ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top:100%;
        left: 0;
        width: 100%;
        background-color: black;
        opacity: 0.5;
    
}
.nav .ic-re:hover+ul li a{
    padding: 15px;
}
}
/* end header */
/* start landing */
.landing {
    background-image: url(../images/ff.jpg);
    min-height: 100vh;
    background-size: cover;
    background-color: black;
    position: relative;

}
.overlay{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
    background-color: rgb(0 0 0 / 60%);
}
.box{
    background-color: rgb(24, 94, 104,0.7);
    max-width: 50%;
    padding: 40px ;
    color: white;
    /* z-index: 3; */
    position: absolute;
    top:50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
flex-direction: column;
    justify-content: flex-end;
}
.box p{
    line-height: 1.8;
    font-size: 16px;
    font-weight: 300;
}
.box h1{
    font-weight: 500;
}
.landing i{
    color: white;
    position: absolute;
    font-size: larger;
    top:50%;
    transform: translateY(-50%);
}
.landing i:first-of-type{
    left: 20px;
}
.landing i:last-of-type{
    right: 20px;
}
.bullet{
width:60px;
position: absolute;
bottom:20px;
left: 50%;
transform: translateX(-50%);
}
.bullet ul{
    display: flex;
    justify-content: space-between;
}
.bullet li{
    width: 15px;
    height: 15px;
    border-radius:50% ;
    border: 1px solid white;
}
.bullet li.active{
  background-color: var(--color);
}
@media (max-width:767px){
    .box{
        max-width: 100%;
    }
}
/* end landing  */
/* start services */

.serv-content .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    gap:30px;
}
.serv-content .container .r1{
    display: flex;
    justify-content: space-between;
}
@media (max-width:767px){
.serv-content .container .r1{
flex-direction: column;
justify-content: center;
text-align: center;}
.r1 i{margin-bottom: 30px;
margin-right: 0 !important;}
}
.r1 i{
    margin-right:50px ;
    color: var(--color);
    font-size: 30px;
}
/* .r1 .tex{
    flex:1;
} */
.r1 .tex h1{
    color: var(--color);
font-size: 20px;
margin: 0;
margin-bottom: 30px;

}
.r1 .tex p{
    line-height: 1.8;
    margin-bottom: 30px;

}

/* end services */
/* start design */
.design{
    background-image: url(../images/kk.jpg);
    height:600px;
    width: 100%;
    background-size: cover;
    position: relative;
}
.design::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
     background-color: rgb(0 0 0 / 60%);
}
.des-box{
    position: absolute;
    top:50%;
    transform: translatey(-50%);
    right: 0;
    background-color: rgb(24, 94, 104,0.8);
    padding: 50px ;
    color: white;
    z-index: 2;
}
@media (max-width:767px){
    .des-box{
        
        max-width: 100%;   
    }
}
.des-box h2{
    margin-bottom: 30px;
    font-weight: normal;
}
.des-box li{
padding: 15px;  
  position: relative;
}
.des-box li i{
    margin-right: 20px;
}
.des-box li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f013";
    font-weight: 900;
}

/* end design */

/* start portfolio */
.port-content ul{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.port-content li{
    margin-right:  20px;
}
.port-content li.active{
    background-color: var(--color);
    color: white;
    padding: 10px;
}

/* .img-cont{
    display: flex;
    flex-wrap: wrap;
   
}
.img-box{
    flex:0 0 25%;
} */
.img-cont{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    row-gap: 10px;
}
.img-box img{
    max-width: 100%;
    transition: 1s;

}
.img-box{
    position: relative;
    overflow: hidden;
}

.img-box:hover img{
        transform: rotate(1deg) scale(1.1);
}
.texx{
    background-color: white;
    width: 100%;
    line-height: 1.8;
    padding: 10px;
    position: absolute;
    bottom: -100%;
    left:0;
    transition: 1s;
}

.img-box:hover .texx{
bottom:0}
.texx h4{
    /* padding: 10px; */
}
.texx h5{
    color: var(--color);
}

.more{
    padding: 20px;
    display: block;
    width: fit-content;
    background-color: var(--color);
    color: white;
    text-decoration: none;
    margin:10px auto;
    text-align: center;
}
/* end portfolio */
/* start video */
.vide{
    position: relative;
}
.vide::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.vide video{
    width: 100%;
    z-index: 1;
}

.vide .tex{
    background-color: rgb(24, 94, 104,0.8);
    position: absolute;
    width: 100%;
    top:50%;
    transform: translatey(-50%);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
    line-height: 3;

}
.vide .tex a{
    color: white;
    display: block;
    text-decoration: none;
    width: fit-content;
    background-color: black;
    padding: 2px 15px;
    margin: auto;
    
}
/* end video */
/* start about */
.about{
    position: relative;
    /* height: 550px; */
    overflow: hidden;
}
.about img{
    position: absolute;
    left: 50%;
    bottom: -220px;
    transform: translateX(-50%);
    max-width: 100%;
}
@media(max-width:767px){

    .about img{
      
        bottom: -100px;
        margin-top: 100px;
        
    }
}
/* end about */
/* start stats */
.stats{
    
    padding-bottom: 100px;
    padding-top: 100px;
    background-image: url(../images/stats.png);
    background-size: cover;
    text-align: center;
    position: relative;
}

.stats .container{
    position: relative;
    background-color: rgb(24, 94, 104,0.7);

}

.stat-cont{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
@media (max-width:767px){
        .stat-cont .cont{
        flex-basis: 100%;
        margin-bottom: 10px;
    }
}
@media (min-width:768px) and (max-width:991px){
    .stat-cont .cont{
    flex-basis: 50%;
    margin-bottom: 10px;
}
}
@media (min-width:992px) {
    .stat-cont .cont{
    flex-basis: 25%;
    margin-bottom: 10px;
}
}
.stat-cont .cont{
    text-align: center;
    color: white;
    
}
.cont i{
    padding: 10px;
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
    margin-bottom: 20px;
}
.cont p{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
}

.cont p:last-of-type{
    font-size: 20px;

}
/* end stats */
/* start our skills */
.our-skills{
    padding-top: 100px;
    padding-bottom: 100px;
}

.our-skills .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media(min-width:768px){
    .our-skills .container>div{
        flex-basis: 45%;

    }
}
@media (max-width:767px){
    .our-skills .container>div{
        text-align: center;
    }
    .our-skills .container .col:last-of-type{
        margin-top: 50px;
    }
}
.our-skills .tex h2{
    margin-bottom: 20px;
    font-weight: normal;
}
.our-skills .tex p{
    line-height: 1.8;
    margin-bottom: 30px;
}
.our-skills  .r{
display: flex;
margin-bottom: 50px;
align-items: center;
}

.r img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 50px;
}
.r .text{

    line-height: 1.8;
    border-bottom: 1px solid #ccc;
}
.r .text p:last-child{
    color: #777;
    text-align: right;
    font-size: 14px;
    margin-bottom: 10px;
}    

    

.r span{
    display: block;
}
.cr{

}
.cr ul{
    display: flex;
    justify-content: center;
}

.col .cr li{
    width: 10px;
    height: 10px;
    margin-right: 10px;

    border-radius: 50%;
    border: 1px solid black;
}
.col .cr li.active{
    background-color: var(--color);
    border-color: var(--color);
}
.prog h4 {
    font-weight: 100;
    font-size: 15px;
    margin-bottom: 20px;
}

.prog .pro{
    width: 90%;
    height: 30px;
    background-color: #ddd;
    margin-bottom: 30px;
}
.pro span{
    background-color: var(--color);
    height: 100%;
    z-index: 1;
display: block;
position: relative;
} 
.pro span::after{
    content: attr(data-progress);
    padding: 5px;
    border-radius: 10px;
    background-color: black;
    position: absolute;
    right: -20px;
    top:-32px;
    color: white;
    font-size: 15px;
    text-align: center;

}
.pro span::before{
    content: "";
    border: 5px solid;
    border-color:black transparent transparent transparent ;
    position: absolute;
    top:-5px;
    right: -5px;
}

/* end our skills */
/* start quote */

.quote{ padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../images/dd.jpg);
    background-size: cover;
    text-align: center;
    position: relative;
    }
    .quote .container {
        position: relative;
            z-index: 1;

    } 

    .quote::after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(24, 94, 104,0.7);
    }
.quote q{
    color: white;
    text-align: center;
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 30px;
    display: block;

}
.quote q::after{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f10e";
    position: absolute;
    bottom:-5px;
    right:5px ;


}

.quote q::before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f10d";
    position: absolute;
left: -5px;
top:-5px

}
.quote span{
    color: white;
}
/* end quote */
/* start pricing */
.pricing{
    margin-top: 100px;
    margin-bottom: 100px;
}
.price-cont{
    display: flex;
    flex-wrap: wrap;


}
.price-cont ul{
    background-color: #eee;
flex-basis: 23%;
    text-align: center;
    margin-left: 15px;
}

 @media (max-width:767px){
    .price-cont ul{
        flex-basis: 99%;
        margin-bottom: 20px;

    }
}
 @media (min-width:768px) and (max-width:991px)  {
    .price-cont ul{
        flex-basis: 47%;
        margin-bottom: 20px;

    }
 }
.price-cont ul li{
    padding: 20px;
    border-bottom: 1px solid var(--color);
}
.price-cont ul li:nth-child(1){
    border-top: 1px solid var(--color);


}

.price-cont ul li:nth-child(1){
    border-bottom:none;
}
.price-cont ul li a{
    text-decoration: none;
    padding: 10px;
    border: 1px solid var(--color);
}
.price-cont ul li:nth-child(2){
    padding: 40px;
    font-size: 30px;
    font-weight: bold;

}

.price-cont ul li:last-child{
    padding: 40px;
}

.pricing .tex{
    text-align: center;
    margin-top: 50px;
}

.tex h3{
    margin-bottom: 20px;
}
.tex a{
    width: fit-content;
    margin: auto;
    text-decoration: none;
    padding:10px 20px;
    background-color: var(--color);
    color: white;
    display: block;
}
/* end pricing */
/* start subs */
.subs{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../images/dd.jpg );
    background-size: cover;
}

.subs .container{
    display: flex;
justify-content: space-between;
}
@media (max-width:767px) {
    .subs .container{
    flex-direction: column;
    text-align: center;
}
.subs .tex{
    margin-top: 50px;
}
}
.subs .tex{
    color: white;
    margin-left: 20px;
    line-height: 2;
}
.subs .mail{
    display: flex;
    width: 500px;
    max-width: 100%;
}
.subs i{
    padding: 20px;
    border: 1px solid white;
    color: white;
    border-right: none;
}
.subs input[type="email"]{
    padding: 20px;
    background:none;
    border: 1px solid;
    border-color: white;
    border-left: none;
    border-right: none;
    color: white;
    font-weight: bold;
    caret-color: var(--color);
}
.subs input[type="email"]:focus{
    outline: none;
}
.subs input:last-child{
    background-color: white;
    background-color: var(--color);
    color: white;
    text-decoration: none;
    padding: 20px 10px;
    border-left: none;
}

.subs::placeholder{
    color: white;
}
/* end subs */
/* start contact  */
.contact{
    padding-top: 100px;
    padding-bottom: 100px;
}
.contact .cont-cont{
    display: flex;
justify-content: space-between;}
.cont-cont form{
margin-bottom: 30px;
margin-right: 30px;
flex: 1;

}
@media (max-width:767px){
    .contact .cont-cont{
        flex-direction: column;
    }
    .cont-cont .num{
        text-align: center;
    }
}
.cont-cont form .k{
display: block;
margin-bottom: 50px;
padding: 20px ;
width: 100%;
font-size: 20px;
caret-color: var(--color);

}
.cont-cont form .k:focus{
    outline: none;
}
.cont-cont form .k::placeholder{
    float: left;
}
.cont-cont form textarea{
height: 200px;
}
.cont-cont form input[type="submit"]{
    padding:20px 50px;
background-color: var(--color);
color: white;
    float: right;
    border: none;
    cursor: pointer;
}
.cont-cont .num{
    width: 150px;
}
.cont-cont .num .g {
    line-height: 1.8;
    margin-bottom: 60px;

}
.cont-cont .num .w{
    line-height: 2;
}
.cont-cont .num h3{
    margin-bottom: 20px;
}
/* end contact  */
/* start footer */
.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../images/dd.jpg);
    background-size: cover;
    text-align: center;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.footer img{
    height: 40px;
    margin-bottom: 30px;

}

.footer p:not(.copyright){
    color: white;
    font-weight: normal;
    font-size: 30px;
    padding: 20px;
    position: relative;
}
.footer p:not(.copyright)::after{
    content: "";
    height: 2px;
    width: 300px;
    background-color: white;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: -5px;
}
.footer ul{
    display: flex;
}
.footer ul li{
    margin-right: 10px;
    padding: 10px 20px;
}
.footer i{
    color: white;
    margin-top: 20px;
}
.footer .copyright{
    color: white;
}
.footer span{
    font-weight: bold;
    color: var(--color);
}
/* end footer */